In [5]:
import pandas as pd
wine  = pd.read_csv('https://bit.ly/wine_csv_data')
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [ ]:
# 0이 레드와이 1화이트 와인