In [ ]:
import pandas as pd

fish = pd.read_csv('https://bit.ly/fish_csv_data') # read_csv 함수로 데이터를 읽어 데이터 프레임으로 변환다은 head매서드로 5개향 출룍 
fish.head()

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340

In [3]:
print(pd.unique(fish['Species']))

['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

In [7]:
fish_target = df['Species'].to_numpy()
fish_data = df[['Weight', 'Length', 'Diagonal', 'Height', 'Width']].to_numpy()

NameError: name 'df' is not defined

In [10]:
import numpy as np

In [ ]:
# 이진 분류 
bream_smelt_indexes = (fish_target == 'Bream') | (fish_target == 'Smelt') # 도미와 방어의 위치 인덱스(True)

bream_smelt_data = fish_data[bream_smelt_indexes]
bream_smelt_target = fish_target[bream_smelt_indexes]

NameError: name 'fish_target' is not defined

: